
    Options -Indexes

    <FilesMatch "config\.php">
      Order allow,deny
      Deny from all
    </FilesMatch>

    <FilesMatch ".(htaccess|temp|sql)$">
     Order Allow,Deny
     Deny from all
     </FilesMatch>

    <IfModule mod_php5.c>
      php_flag magic_quotes_gpc off
      php_flag magic_quotes_runtime off
      php_flag register_globals off
    </IfModule>

    RewriteEngine On 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php [L]
	
	Redirect 301 /donetsk/dlya-biznesa/delovye-uslugi https://moy-donetsk.ru/donetsk/uslugi/delovye-uslugi


RewriteCond %{HTTP_USER_AGENT} (GeedoProductSearch|SemrushBot|GPTBot|GeedoBot|Amazonbot|Bytespider|SeopultContentAnalyzer|SeekportBot|DataForSeoBot|Barkrowler|BLEXBot|SemrushBot|MJ12bot|AhrefsBot|bingbot|DotBot|PetalBot|LinkpadBot|SputnikBot|statdom.ru|MegaIndex.ru|WebDataStats|Jooblebot|Baiduspider|BackupLand|NetcraftSurveyAgent|openstat.ru|thesis-research-bot|fidget-spinner-bot|facebookexternalhit|GPTBot) [NC]
RewriteRule .* - [F,L]